{% extends "todowoo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Sign Up</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.errors }}
                    </div>
                {% endif %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="id_first_name">First Name</label>
                    <input type="text" name="first_name" class="form-control" id="id_first_name"
                           aria-describedby="firstnameHelp"
                           value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" required>
                    <small id="firstnameHelp" class="form-text text-muted">Your first name.</small>
                </div>
                <div class="form-group">
                    <label for="id_last_name">Last Name</label>
                    <input type="text" name="last_name" class="form-control" id="id_last_name"
                           aria-describedby="lastnameHelp"
                           value="{% if form.first_name.value %}{{ form.last_name.value }}{% endif %}" required>
                    <small id="lastnameHelp" class="form-text text-muted">Your last name.</small>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emaileHelp"
                           value="{% if form.first_name.value %}{{ form.email.value }}{% endif %}" required>
                    <small id="emaileHelp" class="form-text text-muted">Your Email Address.</small>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username"
                           aria-describedby="usernameHelp"
                           value="{% if form.first_name.value %}{{ form.username.value }}{% endif %}" required>
                    <small id="usernameHelp" class="form-text text-muted">Your username must be unique. We'll let you
                        know if someone has taken it already.</small>
                </div>
                <div class="form-group">
                    <label for="password1">Password</label>
                    <input type="password" name="password1" class="form-control" id="password1"
                           value="{% if form.first_name.value %}{{ form.password1.value }}{% endif %}" required>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id="password2"
                           value="{% if form.first_name.value %}{{ form.password2.value }}{% endif %}" required>
                </div>
                <!-- Captcha -->
                <div id="recaptcha" class="form-floating mb-3">
                    {{ form.captcha }}
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <hr>
            <div class="text-center">
                Do you already have an account? <a href="{% url 'todowoo:login_user' %}">Login here</a>
            </div>
        </div>
    </div>
{% endblock %}
